# Copyright (c) 2021 Rafael Yumagulov
# SPDX-License-Identifier: MIT

if SHIELD_DAO_LEFT

	config ZMK_KEYBOARD_NAME
	default "PIT-Click"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif # SHIELD_DAO_LEFT

if SHIELD_DAO_LEFT || SHIELD_DAO_RIGHT

config BOARD
	default "dao"

config ZMK_SPLIT
	default y

config BT_CTLR

	default BT

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

endif # SHIELD_DAO_LEFT || SHIELD_DAO_RIGHT
